/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

html{
    font-family: 'Source Sans Pro', sans-serif;

}
body{
    margin: 0;
}

h1, h4 {
    color: rgb(10, 10, 99);
}
.navbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(3,140,208,1) 100%, rgba(0,212,255,1) 100%);
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: #111;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}
